
script(src='/js/teacher.js', type='text/javascript', charset='utf-8')

script#program(type='text/editor').
  
  #include <iostream>
  using namespace std;
 
  int main() {
     cout << "Hola!" << endl;
  }